<ng-include src="'partials/navigationBar.html'" ng-controller="DinnerCtrl"></ng-include>

<div class="col-md-12 col-xs-12 content-column">
  <div class="row">
    <div class="col-md-3"></div>

    <div id="menu-display" class="col-md-6 col-xs-12">	

     	<div id="dishes4">
     		
     		<div class="confirmed-dish col-md-4" ng-hide="checkStarterMenu()">
          		<h4>Starter</h4>
				<img src="{{getFullMenu.starter.ImageURL}}" id="image">
				<h5 id="title">{{getFullMenu.starter.Title}}</h5>
            	<div class="price">
					<p>{{getPrice(getFullMenu.starter.Ingredients)}} SEK</p>
				</div><!-- end of price -->
			</div><!-- end of confirmed dish -->

			<div class="confirmed-dish col-md-4" ng-hide="checkMainMenu()">
        		<h4>Main Dish</h4>
				<img src="{{getFullMenu.main.ImageURL}}" id="image">
				<h5 id="title">{{getFullMenu.main.Title}}</h5>
				<div class="price">
					<p>{{getPrice(getFullMenu.main.Ingredients)}} SEK</p>
				</div><!-- end of price -->
			</div><!-- end of confirmed dish -->

			<div class="confirmed-dish col-md-4" ng-hide="checkDessertMenu()">
          		<h4>Dessert</h4>
				<img src="{{getFullMenu.dessert.ImageURL}}" id="image">
				<h5 id="title">{{getFullMenu.dessert.Title}}</h5>
				<div class="price">
					<p>{{getPrice(getFullMenu.dessert.Ingredients)}} SEK</p>
				</div><!-- end of price -->
			</div><!-- end of confirmed dish -->

      	</div> <!-- end of dishes4 -->

        <div class="col-xs-12" style="text-align:center;">
          <div class="line-separator3" id="line-separator-p3"></div> 
          <a href="#/preparation" class="btn btn-default" type="button" id="print-full-recipe">Print Full Recipe</a>
        </div> <!-- row --> 
  	</div> <!--menu display -->

    <div class="col-md-3 col-xs-12" id="display-price">
      <span id="totalPrice">{{getPrice(getFullMenu.starter.Ingredients)+getPrice(getFullMenu.main.Ingredients)+getPrice(getFullMenu.dessert.Ingredients)}} SEK</span>
    </div> <!-- end of display price -->
  
  </div> <!-- end of row -->
</div> <!-- end of content column --> 


