<!-- show individual dish including ingredient, preparation & description --> 

<div class="col-md-9 page">

  <div id="dish-column" class="col-md-12 col-xs-12">
      <!-- Menu buttons --> 
    <div ng-hide="loadDish"> <h2> LOADING... </h2></div>
    
    <div ng-show="loadDish">
      <div class="col-md-12 col-xs-12">
      <div id="button-row-goBack">
        <button class="btn btn-default" type="button" id="back-2-select" ng-click="removePending()" >
          <a ng-href="#/search">Go back</a>
        </button>
      </div> <!-- button row goBack --> 
    </div>


  <!-- Display dish name and image --> 
  <div id="dish-display" class="col-md-6 col-xs-12">
      <h3>{{dish.Title}}</h3>
      <img src="{{dish.ImageURL}}" id="image">
			<p>{{dish.Instructions}}</p>
  </div> <!-- end of dish-display --> 

  <!-- Display ingriedient table --> 
  <div id="ingridient-display" class="col-md-6 col-xs-12">
  <div class="row">
    <span id="tableHeading">
      <h2>Recipe for {{getNumberOfGuests()}} people</h2>

      <button class="btn btn-default" type="button" id="confirm-dish" ng-click="addToMenu()">
          <a ng-href="#/search">Confirm Dish</a>
      </button>
    </span>

    </div>

    <!-- Table  -->
    <table class="table" id="ingridient-list">
      <tbody id="quantity">
       	<tr ng-repeat="ingredient in ingredients">
       		<td>{{ingredient.Quantity*getNumberOfGuests()}} st</td>
       		<td>{{ingredient.Unit}}</td>
      		<td>{{ingredient.Name}}</td>
      		<td>{{ingredient.Quantity*getNumberOfGuests()}} SEK</td>
       	</tr>   
      </tbody>
    </table>

    <div id="line-separator"></div>  

    <!-- Cost --> 
    <div id="recipeCost">
      <span id="recipeCost">{{getDishPrice()}} SEK</span>
    </div> <!-- end of recepie cost -->

  </div> <!-- end of ingridient display --> 
  
  <!-- Display preparations -->
  <div id="preparation-display" class="col-md-12 col-xs-12">
    <h3>Preparations</h3>
    <p>{{dish.Instructions}}</p>
  </div><!--end of preparation-display -->
  
  </div> <!-- end of show -->
  </div> <!-- end of dish column --> 
</div> <!-- end of page --> 
 
  <!-- We include the sidebar as it is shared across two screens. -->
  <ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

