<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->

<ng-include ng-controller="SearchCtrl"></ng-include>

<!--START PAGE --> 
      <div id="startPage">
        <div class="col-md-5 col-xs-5" id="info-start">
        <h2 id="h2-start">A Home Dinner Service </h2>
        <div id="line-separator"> </div>
        <p>Lorem ipsum dolor sit amet, te has scaevola mediocrem, usu case accusata eleifend in. Ex vidisse electram cotidieque mei. Ne agam urbanitas persecuti eum, purto omittam cu ius. Ex elitr aperiri torquatos nec. Ut per minimum vituperata.</p>
      </br>

        <p>Start quickly.</p>
        <a id ="createDinnerButton" href="#/search" class="btn btn-custom" ng-click="search('all')">Create new dinner</a>

      </div>
      </div> 
    <!-- info-start --> 
    <!-- END OF START PAGE --> 