 
 <!-- NAVIGATION BAR --> 

    <div class="col-md-12 col-xs-12" id="navigation-bar">
    <!-- LEFT PART OF NAVIGATION BAR --> 
      <div class="col-md-6 col-xs-6" id="left-navigation">
      <p id="mydinner"> My Dinner: <span id="numberOfGuests">{{getNumberOfGuests()}} people</span></p>
      </div> <!-- left--> 

    <!-- RIGHT PART OF NAVIGATION BAR --> 
      <div class="col-md-6 col-xs-6" id="right-navigation">
       <a href="#/search" type="button" class="btn btn-default" id="back-2-edit">Go back and edit dinner</a>
      </div> <!-- right -->

    </div><!-- navigation bar-->

    <!-- END OF NAVIGATION BAR --> 