 
 <!-- Navigation bar page 4 and 5 --> 

<div class="col-md-12 col-xs-12" id="navigation-bar">

  <!-- Left part of navigation bar --> 

  <div class="col-md-6 col-xs-6" id="left-navigation">
    <p id="mydinner"> My Dinner: 
      <span id="numberOfGuests">{{getNumberOfGuests()}} people</span>
    </p>
  </div> <!-- left--> 

    <!-- Right part of navigation bar --> 

  <div class="col-md-6 col-xs-6" id="right-navigation">
    <a href="#/search" type="button" class="btn btn-default" id="back-2-edit">
      Go back and edit dinner
    </a>
  </div> <!-- right -->

</div><!-- navigation bar-->
